.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 2.5rem;
    &__icon {
        width: 100px;
        height: 100px;
        border: 10px solid #00bc77;
        border-radius: 50%;
        padding: 1rem;
    }
    &__title {
        color: #222;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.2rem;
        margin-top: 1.4rem;
    }
}