.header {
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        @media screen and (min-width: 920px) {
            padding: 8px 20px;
        }
        a {
            font-weight: bold;
            color: $secondary;
            &.router-link-exact-active {
                color: $primary;
            }
        }
        &__item {
            text-decoration: none;
            margin-right: 0.5rem;
            &:hover {
                text-decoration: underline;
            }
            i {
                margin-right: 5px;
            }
        }
        &__logo {
            display: flex;
            align-items: center;
            img {
                max-width: 100%;
                width: 150px;
                @media screen and (min-width: 920px) {
                    width: 200px;
                }
            }
        }
    }
}