@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  color: #2c3e50;
  text-align: center;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background-color: unset;
}

.error-msg {
  color: red;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}
@media screen and (min-width: 920px) {
  .header__nav {
    padding: 8px 20px;
  }
}
.header__nav a {
  font-weight: bold;
  color: #2c3e50;
}
.header__nav a.router-link-exact-active {
  color: #42b983;
}
.header__nav__item {
  text-decoration: none;
  margin-right: 0.5rem;
}
.header__nav__item:hover {
  text-decoration: underline;
}
.header__nav__item i {
  margin-right: 5px;
}
.header__nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav__logo img {
  max-width: 100%;
  width: 150px;
}
@media screen and (min-width: 920px) {
  .header__nav__logo img {
    width: 200px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}
.footer__text {
  margin: 0;
  padding: 0;
}

.main--bgdark {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #12002b;
}

.hero {
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
@media screen and (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }
}
.hero__content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
@media screen and (min-width: 920px) {
  .hero__content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
}
.hero__content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
@media screen and (min-width: 920px) {
  .hero__content .subtitle {
    font-size: 1.5rem;
  }
}
.hero__content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}
@media screen and (min-width: 920px) {
  .hero__content .text {
    font-size: 1.2rem;
  }
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2.5rem;
}
.feature-item__icon {
  width: 100px;
  height: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}
.feature-item__title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-top: 1.4rem;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}
@media screen and (min-width: 720px) {
  .account {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.account__wrapper {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.account__wrapper__amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.account__wrapper__description {
  margin: 0;
}
.account__wrapper__title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
@media screen and (min-width: 720px) {
  .account__wrapper--cta {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
.account__wrapper--cta button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 1rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 720px) {
  .account__wrapper--cta button {
    width: 200px;
  }
}

.button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.loader {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  padding: 10px;
  border: 6px solid #42b983;
  border-bottom-color: transparent;
  border-radius: 22px;
  -webkit-animation: 1s rotate infinite linear;
          animation: 1s rotate infinite linear;
  height: 0;
  width: 0;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: translate(50%, -50%) rotate(0deg);
            transform: translate(50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(50%, -50%) rotate(360deg);
            transform: translate(50%, -50%) rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: translate(50%, -50%) rotate(0deg);
            transform: translate(50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(50%, -50%) rotate(360deg);
            transform: translate(50%, -50%) rotate(360deg);
  }
}
.renameForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.renameForm .error-msg {
  margin-bottom: 1em;
}
.renameForm__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.renameForm__container--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 920px) {
  .renameForm__container--column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.renameForm__container__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.3em;
}
.renameForm__container__wrapper--end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.renameForm__container__wrapper--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.renameForm__container__wrapper input {
  padding: 5px;
}
.renameForm__container__wrapper input[type=text] {
  width: 200px;
  font-size: 1.2rem;
}

.profile-header {
  color: #fff;
  margin-bottom: 2rem;
  position: relative;
  min-height: 100px;
}
.profile-header button {
  padding: 10px;
}
.profile-header .error-msg {
  display: block;
  margin-bottom: 1em;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 920px) {
  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.signIn-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signIn-content__button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}
.signIn-content__icon {
  font-size: 5rem;
}
.signIn-content__form .input-remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.signIn-content__form .input-remember label {
  margin-left: 0.25rem;
}
.signIn-content__form .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.signIn-content__form .input-wrapper label {
  font-weight: bold;
}
.signIn-content__form .input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}/*# sourceMappingURL=main.css.map */